<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <div id="test" style="width:100px;height:100px;overflow-y:hidden;">
    </div>
</body>
<!-- 设置展开内容和关闭内容的按钮(原理为,点击"展开",则"展开"按钮隐藏,"关闭"按钮显示;点击"关闭",则自己关闭,"展开"按钮展开) -->

<a href="javascript:void(0)" id="show" style="display:block"
    onclick="document.getElementById('test').style.height='auto';document.getElementById('hidden').style.display='block';document.getElementById('show').style.display='none';">展开</a>
<a href="javascript:void(0)" id="hidden" style="display:none;"
    onclick="document.getElementById('test').style.height='200px';document.getElementById('hidden').style.display='none';document.getElementById('show').style.display='block';">关闭</a>

<script type="text/javascript">
    window.onload = function () {
        var str = "测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句测试语句";
        var str1 = str.substring(0, 70);
        document.getElementById("test").innerText = str1;
    }
</script>

</html>